[submodule "client"]
	path = client
	url = https://github.com/BETSY-Project/client.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/BETSY-Project/server.git
	branch = main
[submodule "clm"]
	path = clm
	url = https://github.com/BETSY-Project/clm.git
	branch = main